.martketvalue {
  height: 90px;
  padding: 8px 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(245, 245, 245);
}

.martketvalue div span {
  text-align: right;
  padding: 0 12px;
}

.value {
  font-size: 15px;
  font-weight: 600;
  margin: 3px 5px;
}

.portfolio {
  margin: 3px 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(66, 66, 66);
}

.martketvalue .line {
  display: flex;
  justify-content: left;
  margin: 7px 15px 7px 5px;
  width: 89%;
  height: 8px;
  border-radius: 5px;
  background: rgb(148, 148, 148);
}

.martketvalue .line div {
  width: 40%;
  height: 8px;
  border-radius: 5px;
  background: rgb(41, 138, 49);
}
