* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
}

.uper-part {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

.upper-left {
  margin: 0 10px;
  width: 20%;
}

.sample-data {
  display: flex;
  width: 80%;
}

.show-data {
  margin-top: 40px;
  width: 90%;
  height: auto;
  margin-left: 20px;
}

.divide-horizental {
  height: 10px;
  margin: 10px 3px;
  width: 100%;
  background: rgb(230, 230, 230);
}

.divide-vertical {
  margin-top: 43px;
  width: 18px;
  height: auto;
  background: rgb(230, 230, 230);
}

@media screen and (max-width: 992px) {
  .uper-part {
    flex-direction: column;
  }

  .sample-data {
    width: 100%;
  }

  .upper-left {
    margin: 40px auto;
    width: 80%;
    justify-self: center;
  }

  .sample-data {
    width: 100%;
  }
}